---
import { formatNum, formatDuration } from "../utils";

interface Props {
  channel: any;
  videos: any[];
  shorts: any[];
}

const { channel, videos, shorts } = Astro.props;

const totalDuration =
  channel?.viewCount ??
  videos.reduce((s, v) => s + (v.duration || 0), 0) +
    shorts.reduce((s, v) => s + (v.duration || 0), 0);

const totalLikes =
  videos.reduce((s, v) => s + v.likes, 0) +
  shorts.reduce((s, v) => s + v.likes, 0);

const totalComments =
  videos.reduce((s, v) => s + v.comments, 0) +
  shorts.reduce((s, v) => s + v.comments, 0);

const subscriberCount = channel?.subscriberCount ?? 0;

const yearsActive = (() => {
  try {
    const firstYear = new Date(channel.publishedAt).getFullYear();
    return new Date().getFullYear() - firstYear;
  } catch {
    return 0;
  }
})();
---

<section id="stats">
  <div class="container">
    <h2>Un poco de información...</h2>
    <div id="stats-items">
      <div>
        <div>{formatNum(yearsActive)}</div>
        <p class="text-sm">Años activa</p>
      </div>
      <div>
        <div>{formatNum(subscriberCount)}</div>
        <p class="text-sm">Minasansitos</p>
      </div>

      <div>
        <div>{formatNum(channel.videoCount)}</div>
        <p class="text-sm">Total de videos</p>
      </div>
      <div>
        <div>{formatNum(channel.viewCount)}</div>
        <p class="text-sm">Visualizaciones</p>
      </div>

      <div>
        <div>{formatNum(totalLikes)}</div>
        <p class="text-sm">likes</p>
      </div>
      <div>
        <div>{formatNum(totalComments)}</div>
        <p class="text-sm">comentarios</p>
      </div>

      <div>
        <div>{formatNum(videos.length)}</div>
        <p class="text-sm">Videos largos publicados</p>
      </div>
      <div>
        <div>{formatNum(shorts.length)}</div>
        <p class="text-sm">Shorts publicados</p>
      </div>

      <div style="grid-column: 1 / -1">
        <div>{formatDuration(totalDuration)}</div>
        <p class="text-sm">de contenido disponible</p>
      </div>
    </div>
  </div>
</section>

<style>
  #stats {
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  #stats-items {
    display: grid;
    margin-block: 2em;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
  }

  #stats-items > div {
    border: 5px solid black;
    padding: 0.5em;
    text-align: center;
    background: white;
  }

  #stats-items > div > div {
    font-size: 3em;
    font-weight: bold;
  }
</style>
