---
import { formatNum, formatDuration } from "../utils";

const { videos } = Astro.props;

const topVideosViews = [...videos]
  .sort((a, b) => b.views - a.views)
  .slice(0, 6);
const topVideosDuration = [...videos]
  .sort((a, b) => b.duration - a.duration)
  .slice(0, 6);
const topVideosLikes = [...videos]
  .sort((a, b) => b.likes - a.likes)
  .slice(0, 6);
const topVideosComments = [...videos]
  .sort((a, b) => b.comments - a.comments)
  .slice(0, 6);
---

<section id="videos">
  <div class="container">
    <h2> V铆deos </h2>

    <div>
      <h3>M谩s vistos...</h3>
      <div class="grid md:grid-cols-3 gap-4">
        {
          topVideosViews.map((v) => (
            <a
              class="border-4 border-black bg-white p-2"
              href={`https://youtu.be/${v.id}`}
              target="_blank"
            >
              <img
                src={v.thumbnail}
                alt={v.title}
                class="w-full h-40 object-cover mb-2"
              />
              <p class="font-semibold text-sm line-clamp-2">{v.title}</p>
              <p class="text-xs mt-1">
                 {formatNum(v.views)} 路{" "}
                {new Date(v.publishedAt).getFullYear()}
              </p>
            </a>
          ))
        }
      </div>
    </div>

    <div>
      <h3>M谩s likes...</h3>
      <div class="grid md:grid-cols-3 gap-4">
        {
          topVideosLikes.map((v) => (
            <a
              class="border-4 border-black bg-white p-2"
              href={`https://youtu.be/${v.id}`}
              target="_blank"
            >
              <img
                src={v.thumbnail}
                alt={v.title}
                class="w-full h-40 object-cover mb-2"
              />
              <p class="font-semibold text-sm line-clamp-2">{v.title}</p>
              <p class="text-xs mt-1">
                 {formatNum(v.likes)} 路{" "}
                {new Date(v.publishedAt).getFullYear()}
              </p>
            </a>
          ))
        }
      </div>
    </div>

    <div>
      <h3>M谩s comentados...</h3>
      <div class="grid md:grid-cols-3 gap-4">
        {
          topVideosComments.map((v) => (
            <a
              class="border-4 border-black bg-white p-2"
              href={`https://youtu.be/${v.id}`}
              target="_blank"
            >
              <img
                src={v.thumbnail}
                alt={v.title}
                class="w-full h-40 object-cover mb-2"
              />
              <p class="font-semibold text-sm line-clamp-2">{v.title}</p>
              <p class="text-xs mt-1">
                 {formatNum(v.comments)} 路{" "}
                {new Date(v.publishedAt).getFullYear()}
              </p>
            </a>
          ))
        }
      </div>
    </div>

    <div>
      <h3>M谩s largos...</h3>
      <div class="grid md:grid-cols-3 gap-4">
        {
          topVideosDuration.map((v) => (
            <a
              class="border-4 border-black bg-white p-2"
              href={`https://youtu.be/${v.id}`}
              target="_blank"
            >
              <img
                src={v.thumbnail}
                alt={v.title}
                class="w-full h-40 object-cover mb-2"
              />
              <p class="font-semibold text-sm line-clamp-2">{v.title}</p>
              <p class="text-xs mt-1">
                 {formatDuration(v.duration)} 路{" "}
                {new Date(v.publishedAt).getFullYear()}
              </p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  #videos {
    display: grid;
    align-items: center;
  }
  #videos > .container > div {
    margin-top: 2em;
  }
</style>
