---
// import gallery from "../data/gallery.json";

const numVideos = 9;

const videos = (await import("../data/videos.json")).default
  .sort((a, b) => b.views - a.views)
  .slice(0, numVideos);

const shorts = (await import("../data/shorts.json")).default
  .sort((a, b) => b.views - a.views)
  .slice(0, numVideos);

// const shorts = gallery.shorts;
---

<section class="p-6">
  <h2 class="text-3xl font-bold mb-4 border-b-4 border-black inline-block">
    Videos más vistos
  </h2>
  <div class="grid md:grid-cols-3 gap-6">
    {
      videos.map((video) => (
        <a
          href={`https://www.youtube.com/watch?v=${video.id}`}
          target="_blank"
          class="border-4 border-black bg-white hover:scale-105 transition transform flex flex-col h-full"
        >
          <img
            src={`https://img.youtube.com/vi/${video.id}/hqdefault.jpg`}
            alt={video.title}
            class="w-full"
          />
          <p class="p-2 font-semibold text-center">{video.title}</p>
          <p class="p-2 text-center text-sm text-gray-600 mt-auto">
            {video.views} vistas
          </p>
        </a>
      ))
    }
  </div>
</section>

<section class="p-6">
  <h2 class="text-3xl font-bold mb-4 border-b-4 border-black inline-block">
    Shorts más vistos
  </h2>
  <div class="grid md:grid-cols-3 gap-6">
    {
      shorts.map((video) => (
        <a
          href={`https://www.youtube.com/watch?v=${video.id}`}
          target="_blank"
          class="border-4 border-black bg-white hover:scale-105 transition transform flex flex-col h-full"
        >
          <img
            src={`https://img.youtube.com/vi/${video.id}/hqdefault.jpg`}
            alt={video.title}
            class="w-full"
          />
          <p class="p-2 font-semibold text-center">{video.title}</p>
          <p class="p-2 text-center text-sm text-gray-600 mt-auto">
            {video.views} vistas
          </p>
        </a>
      ))
    }
  </div>
</section>
